@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Adjust width */
  height: 6px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Scrollbar color */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background track */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}
